header{
    background: #7700FF;
}
.logo{
    font-weight: bold;
    font-size: 2em;
}
nav{
    justify-self: right;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li{
    float: left;
    cursor: pointer;
}
.a1{
    padding: 1.5em;
    text-transform: capitalize;
    font-size: 1.35em;
}
.dropbtn{
    display: none;
}
a:hover{
    background: #8E2BFF;
} 
.dropdown {
    float: right;
    overflow: hidden;
}
.dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    color: white;
    padding: 14px 16px;
    background-color: transparent;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #7700FF;
    min-width: 160px;
}
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
    background-color: white;
    text-transform: capitalize;
}
.dropdown:hover .dropdown-content {
    display: block;
}
@media (max-width: 768px){
	.a1{
        display: none;
    }
    .dropbtn{
        display: inline-block;
        padding: 1.5em;
        text-transform: capitalize;
        font-size: 1.35em;
    }
}
