<header>
  <div class="container">
    <a routerLink="/" class="logo">{{title}}</a>
    <nav>
      <ul>
        <li><a routerLink="/" class="a1">Home</a></li>
        <li><a routerLink="/length" class="a1">Length</a></li>
        <li><a routerLink="/weigth" class="a1">Weigth</a></li>
        <li>
          <div class="dropdown">
            <button class="dropbtn">
              Menu
            </button>
            <div class="dropdown-content">
              <a routerLink="/" class="a1">Home</a>
              <a routerLink="/length" class="a1">Length</a>
              <a routerLink="/weigth" class="a1">Weight</a>
            </div>
          </div>
        </li>
      </ul>
    </nav>
  </div>
</header>