<div>
  <div>
    <form>
      Select the unit :-
      <select name="select" class="s txt1">
        <option value="mm">Millimeter</option>
        <option value="cm">Centimeter</option>
        <option value="m">Meter</option>
        <option value="km">Kilometer</option>
        <option value="foot">Foot</option>
        <option value="inch">Inch</option>
        <option value="mile">Mile</option>
      </select>
      <br/>
      <br/>
      Enter Data :- <input type="text" class="txt1" id="text" name="fname">
      <br/> 
      <br/>
      <input type="button" class="btn1" value="Convert" onclick="f1();">
      <br/>
      <br/>
      Select the unit :-
      <select name="select" class="s txt1">
          <option value="mm">Millimeter</option>
          <option value="cm">Centimeter</option>
          <option value="m">Meter</option>
          <option value="km">Kilometer</option>
          <option value="foot">Foot</option>
          <option value="inch">Inch</option>
          <option value="mile">Mile</option>
        </select>
      </form> 
      <br/>
      <p  id="demo" class="fnt"></p>
  <div>
</div>